.top-nav{
  display: flex;
  background-color:white;
  color: black;
  font-size: 20px;
}



.video-title{
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    line-height: 25px;
    font-family: arial;
  }
  .button{
    background-color: red;
    border-radius: 5px;
    border: none;
    font-size: 10px;
    color: white;
    padding-top: 3px;
    width: 24px;
  }
  .text1{
    line-height: 15px;
    width: 230px;
    font-family: arial;
    font-size: 13px;
  }
  .views{
    color:  lightslategrey;
    margin-top: none;
    font-size: 13px;
    font-family: arial;
    padding-top: 0%;
    }
  .m-b{
    color:  lightslategrey;
    font-size: 13px;
    font-family: arial;
  }
  .text1{
    color:  lightslategrey;
    font-size: 13px;
    font-family: arial; 
    font-size: 15px;
    line-height: 20px;
    width: 300px ;
  }
  .image{
    margin-left: -1px;
    width:131px;
  }
  .shop-now{
    background-color: red;
    padding-left: 20%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    font-size: 17px;
    text-align: center;
  }
  .apple-logo{
    height: 25px;
    width: 25px; 
  }
  .span-exp{
    text-decoration: underline;
  }
  .span-exp:hover{
    background-color: black;
  }
